body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0;
}



/***********/
/* header */
/**********/



.container_head {
  display: grid;
  grid-template-columns: 8fr 3fr 1fr;
}

/* Réglage logo gauche 53 haut 43*/

#logo {
  width: 96px;
  height: 45px;
  padding: 43px 0 0 53px;
}

/* Réglage liens hebergement activités */

nav {
  margin-top: 36px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-right: 18px;
}
#heb {
  padding: 0;
}

nav a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  padding: 49px 33px 0 33px;
}

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  padding: 49px 33px 0 33px;
}

/* Réglage liens s'inscrire */

#inscription {
  padding: 52px 77px 0 0px;
}
#inscription a {
  color: #0065fc;
  text-decoration: none;
  font-weight: bold;
}

/* Réglage h1 */

h1 {
  display: flex;
  margin: 0;
  padding: 38px 0 0 54px;
  font-size: 24px;
  letter-spacing: -1px;
}

/* Réglage p */

#ville {
  display: flex;
  margin: 0;
  padding: 10px 0 0 54px;
  font-size: 17px;
  letter-spacing: -0.2px;
}

/* Partie Recherche */

form {
  display: flex;
  height: 51px;
  margin: 20px 0 0 54px;
}

label {
  padding: 17px 18px 14px 21px;
  background: #f2f2f2;
  border-radius: 17px 0 0 17px;
}

#search {
  width: 235px;
  border: 1px solid#f2f2f2;
  padding-left: 17px;
  font-size: 17px;
  letter-spacing: 0.3px;
  font-weight: bold;
}
::-webkit-input-placeholder {
  color: black;
}

input[type="submit"] {
  background: #0065fc;
  color: white;
  width: 134px;
  border: none;
  border-radius: 0 17px 17px 0;
  font-size: 18px;
}

.bouton {
  visibility: hidden;
}


/*******************************/
/* Partie filtres de recherche */
/*******************************/



#filtre {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  margin-top: 30px;
}

/* Bouton hover filtres */

.economie {
  transform: translate(18%, 35%);
  transition: width 2s;
}

.economie:hover {
  background-color: #0065fc;
  text-align: center;
  width: 191px;
  transition: 1s ease-in-out;
}

.Familial {
  transform: translate(19%, 35%);
  transition: width 2s;
}

.Familial:hover {
  background-color: #0065fc;
  text-align: center;
  width: 150px;
  padding-left: -5px;
  transition: 1s ease-in-out;
}

.Romantique {
  transform: translate(8%, 64%);
  transition: width 2s;
}

.Romantique:hover {
  background-color: #0065fc;
  text-align: center;
  width: 195px;
  transition: 1s ease-in-out;
}
.Animaux {
  transform: translate(7%, 60%);
  transition: width 2s;
}

.Animaux:hover {
  background-color: #0065fc;
  text-align: center;
  width: 247px;
  transition: 1s ease-in-out;
}

.effect {
  position: absolute;
  z-index: 2;
  height: 50px;
  color: white;
  font-size: small;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 25px;
}

.btn {
  position: absolute;
  z-index: -1;
  background: none;
  height: 50px;
  border: 2px solid #cccccc;
  border-radius: 25px;
  padding-right: 19px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.6px;
}

/* Réglages block filtres */

.sp_filtre {
  position: relative;
  padding: 17px;
}

.sp_filtre img {
  width: 16px;
  height: 16px;
}

.sp_filtre i {
  color: #0065fc;
}

.fa-child {
  margin-left: 2px;
}

.fa-dog {
  margin-top: -2px;
}

.fa-heart {
  margin-right: 1px;
}

.E {
  width: 193px;
  text-align: right;
  margin: -17px 0 0 -33px;
}

#E {
  margin: 0 143px 0 32px;
}
.F {
  width: 148px;
  text-align: right;
  margin: -17px 0 0 -28px;
}

#F {
  margin: 0 101px 0 24px;
}
.R {
  width: 191px;
  text-align: right;
  margin: -32px 0 0 -17px;
}

#R {
  margin: 0 140px 0 24px;
}

.A {
  width: 246px;
  text-align: right;
  margin: -30px 0 0 -16px;
}

#A {
  margin: 0 197px 0 24px;
}

.i_filtre {
  background-color: #deebff;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

/* le I et informations */

#information {
  display: flex;
  height: 25px;
  margin: 34px 0 37px 60px;
}

#information p {
  margin: 0;
  padding: 4px 0 4px 12px;
}

#circle {
  position: relative;
  height: 23px;
  width: 23px;
}
#circ {
  font-size: 24px;
  color: #f2f2f2;
}
#i {
  position: absolute;
  font-size: 12px;
  color: #0065fc;
  z-index: -1;
  padding: 6px 0 0 10px;
}

sub {
  vertical-align: -3px;
  font-size: 15px;
}


/**********************************************/
/* Disposition Grid de la Section Hebergement */
/**********************************************/


#hebergement {
  display: grid;
  grid-template-columns: 8fr 4fr;
}
/* stylisation du fond de la partie hebergement */

.art_heberg {
  background-color: #f2f2f2;
  border-radius: 21px 21px 21px 21px;
  margin-left: 50px;
}

/* Disposition flexible des cadres de presentations des hotels */

.conteneur_flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px 0 25px;
}
/* stylisation des cadres de presentations des hotels */

.div_hebergement {
  border: 5px solid #ffffff;
  border-radius: 21px 21px 21px 21px;
  width: 236px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 15px 10px 15px;
}
.div_hebergement img {
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

/* stylisation des descriptions de presentations des hotels */

figcaption {
  font-weight: bold;
  font-size: 1em;
  padding: 11px 0 0 16px;
}
figure p {
  margin: 7px 0 0 16px;
}
/* stylisation desprix */

figure p strong {
  font-size: 15px;
}
figure p sub {
  font-size: 18px;
}
.euro {
  font-size: 17px;
}
.chiffres {
  font-size: 15px;
}
/* stylisation étoile */

.icone {
  font-size: 13px;
  letter-spacing: -1.6px;
  margin: 3px 0 12px 16px;
  color: #0065fc;
}
.i_color {
  color: #f2f2f2;
}


/* h3 article art_heberg taille et positionnement de police */

h3 {
  font-size: 1.2em;
  margin: 13px 0 0 60px;
}
span h3 {
  margin: 0;
  padding: 26px 0 46px 44px;
}

/* h2 article art_heberg taille et positionnement  police */

h2 {
  font-size: 23px;
  letter-spacing: -0.6px;
}

span h2 {
  margin: 0;
  padding: 46px 0 0px 40px;
}

.align {
  display: flex;
  margin-bottom: 13px;
}

/* Disposition flexible cadres poulaires */

.conteneur_pop {
  display: flex;
  flex-direction: column;
}

/* stylisation du fond de la partie populaire */

#populaire {
  background-color: #f2f2f2;
  border-radius: 21px 21px 21px 21px;
  margin: 0 50px 0 40px;
  padding-bottom: 18px;
}



/************************************************/
/* stylisation des cadres de presentations hotels populaires */
/************************************************/



.div_populaire {
  display: grid;
  grid-template-areas: 'photo desc'
                       'photo nuit'
                       'photo star';
  border: 5px solid #ffffff;
  grid-template-columns: 127px;
  grid-template-rows: 50px 25px;
  border-radius: 21px 21px 21px 21px;
  width: 334px;
  height: 134px;
  background-color: #ffffff;
  margin: 17px 39px 16px 37px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.div_populaire img {
  width: 127px;
  height: 134px;
  border-radius: 16px 0 0 16px;
  object-fit: cover;
}

.image_pop {
  grid-area: photo;
}

.desc {
  grid-area: desc;
  padding: 0;
  margin: 15px 50px 0 21px;
}

.Nuit {
  grid-area: nuit;
  margin: 0%;
  padding: 12px 50px 0 21px;
  font-size: 15px;
}

.Nuit span {
  font-size: 13px;
}

.stars {
  grid-area: star;
  align-items: flex-start;
  padding: 37px 0 0 21px;
  font-size: 13px;
  letter-spacing: -1.5px;
  color: #0065fc;
}

.sept {
  font-size: 15px;
}

.un {
  padding-top: 6px;
}

/* Partie icone chart-line */

.fa-chart-line {
  font-size: 26px;
  padding: 46px 40px 0 108px;
}



/************************************/
/* stylisation des cadres activités */
      /* Display Grid Activités */
/************************************/



#activite {
  margin: 0 50px 60px 50px;
  display: grid;
  grid-gap: 43px;
}

#activite h2 {
  margin: 0;
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-bottom: -17px;
  margin-top: 63px;
}

.ban_image {
  border-radius: 21px 21px 21px 21px;
  width: 302px;
  background-color: #ffffff;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.ban_image figure {
  margin: 0;
}

/* Vieux port et Parc Nationnal des Calanques*/

.port_parc img {
  width: 100%;
  height: 389px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

.port_parc {
  height: 445px;
}

.item1 {
  grid-column: 1;
  grid-row: 2 / span 2;
  height: 445px;
}

.item4 {
  grid-column: 3;
  grid-row: 2 / span 2;
  height: 445px;
}

/* Pomegues */

#pomegues img {
  width: 100%;
  height: 180px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

#pomegues {
  height: 236px;
}

.item2 {
  grid-column: 2;
  grid-row: 2 / span 1;
}

/* iles du Frioul */

#frioul img {
  width: 100%;
  height: 110px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

#frioul {
  height: 166px;
}

.item3 {
  grid-column: 2;
  grid-row: 3 / span 1;
  height: 166px;
}

/* Notre Dame de la Garde */

#notre_dame_garde img {
  width: 100%;
  height: 140px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

#notre_dame_garde {
  height: 196px;
}

.item5 {
  grid-column: 4;
  grid-row: 2 / span 1;
  height: 196px;
}

/* Parc Longchamps */

#longchamp img {
  width: 100%;
  height: 153px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

#longchamp {
  height: 209px;
}

.item6 {
  grid-column: 4;
  grid-row: 3 / span 1;
  margin-top: -43px;
}



/**********/
/* footer */
/**********/



footer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 55px 50px;
  justify-content: space-between;
  background-color: #F2F2F2;
}

.pied_page {
  text-align: left;
}

.pied_page ul {
  width: 225px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pied_page li {
  padding-top: 15px;
}

.pied_page a {
  text-decoration: none;
  color: black;
}

h4 {
  font-size: 17px;
  letter-spacing: -0.2px;
  margin: 50px 0 12px 0;
}




/*****************/
/* MEDIA QUERIES */
/*****************/





/*****************************/
/* Pour mobile jusqu'a 480px */
/*****************************/





@media screen and (max-device-width: 480px) {

  body {
    width: 100%;
    margin: 0;
  }
  #bod {
    margin: 0;
  }

  /* Media Queries Header */

  .container_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #logo {
    order: 1;
    padding: 23px 0 0 18px;
  }
  nav {
    order: 3;
    width: 100%;
    margin-top: -6px;
  }
  nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  nav li {
    padding-right: 0;
  }
  .heb {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33px;
  }
  nav a {
    padding: 0;
  }
  nav a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    padding: 0;
  }
  div #inscription {
    order: 2;
    padding: 40px 20px 15px 0;
  }

  /* Media Queries Première Div main */

  h1 {
    padding: 32px 0 0 20px;
  }
  #ville {
    padding: 15px 0 0 20px;
  }
  form {
    margin: 34px 0 0 21px;
  }
  input[type="submit"] {
    display: none;
  }
  .bouton {
    visibility: visible;
    background: #0065fc;
    color: white;
    width: 51px;
    height: 50px;
    border: none;
    border-radius: 17px 17px 17px 17px;
    font-size: 18px;
    margin-left: -12px;
  }
  #search {
    width: 68%;
  }
  #filtre {
    margin-top: 0;
    height: auto;
  }
  h3 {
    margin: 35px 100px 15px 23px;
    width: 100%;
  }
  .i_filtre {
    height: 51px;
  }
  #E {
    margin: 0 133px 13px 23px;
  }
  #F {
    margin: 0 91px 13px 21px;
  }
  #R {
    margin: 0 130px 13px 21px;
  }
  #A {
    margin: 0 197px 0px 21px;
  }
  #information {
    margin: 12px 0 35px 23px;
  }
  #i {
    font-size: 12px;
    padding: 8px 0 0 11px;
  }
  #circ {
    font-size: 27px;
    color: #f2f2f2;
  }
  #circle {
    border: none;
  }

  /* Media Queries Section hebergements */

  #hebergement {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  /* Media Queries article populaire */

  #populaire {
    border-radius: 0;
    margin: 0;
  }
  .div_populaire {
    width: auto;
    height: auto;
    margin: 17px 23px 16px 23px;
  }
  .desc {
    margin: 15px 41px 0 20px;
  }
  .Nuit {
    padding: 15px 50px 0 20px;
    font-size: 13px;
    letter-spacing: 0.1;
  }
  .stars {
    padding: 37px 0 0 20px;
  }
  figcaption {
    font-size: 15px;
  }
  #eau {
    margin-top: -6px;
  }
  #bleu_blanc {
    margin-top: -6px;
    margin-bottom: 18px;
  }
  article { 
    width: 100%;
  }
  .align {
    display: grid;
    grid-template-columns: 90% 10%;
  }
  .fa-chart-line {
    padding: 40px 0 0 0;
  }
  h2 {
    font-size: 22px;
    letter-spacing: -0.3px;
  }

  /* Media Queries article hébergement */

  .art_heberg {
    background-color: white;
    border-radius: 0;
    margin-left: 0;
  }
  span h2 {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0px 21px;
    font-size: 24px;
  }
  .conteneur_flex {
    margin: 0;
  }
  .div_hebergement {
    margin: 18px 21px -6px 21px;
    width: auto;
    height: auto;
  }
  .div_hebergement figcaption {
    font-size: 17px;
  }
  figure p sub {
    font-size: 16px;
  }
  sub {
    vertical-align: -2px;
  }
  figure p strong {
    font-size: 14px;
  }
  .chiffres {
    font-size: 14px;
  }
  span h3 {
    margin: 0;
    padding: 37px 0 0 21px;
  }

  /* Media Queries Section Activités */

  #activite {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 21px 49px 21px;
    grid-gap: 0;
  }
  #activite h2 {
    margin: 60px 0 33px 0;
  }
  .ban_image {
    width: auto;
  }
  .ban_image figure {
    margin: 0;
    height: 100%;
  }
  .port_parc {
    height: 100%;
  }
  .port_parc img {
    width: 100%;
    height: auto;
    max-height: 134px;
  }
  .ban_image figcaption {
    padding: 19px;
  }
  .item1 {
    margin-bottom: 24px;
    height: auto;
  }
  #pomegues {
    height: auto;
  }
  #pomegues img {
    width: 100%;
    height: auto;
    max-height: 134px;
  }
  .item2 {
    margin-bottom: 22px;
  }
  #frioul {
    height: auto;
  }
  #frioul img {
    width: 100%;
    height: auto;
    max-height: 134px;
  }
  .item3 {
    height: auto;
    margin-bottom: 21px;
  }
  .item4 {
    height: auto;
    margin-bottom: 24px;
  }
  .item5 {
    height: auto;
    margin-bottom: 24px;
  }
  #notre_dame_garde {
    height: auto;
  }
  #notre_dame_garde img {
    height: auto;
    max-height: 134px;
  }
  .item6 {
    margin-top: 0;
  }
  #longchamp {
    height: auto;
  }
  #longchamp img {
    height: auto;
    max-height: 134px;
  }

  /* Partie Footer */

  footer {
    margin: 0;
    padding: 2px 0 49px 29px;
  }
  h4 {
    margin: 47px 0 9px 0;
  }
  #Assistance {
    margin: 58px 0 9px 0;
  }
  .pied_page li {
    padding-top: 18px;
  }

}

/************************************/


/************************************/
/* Pour screen entre 480px et 768px */
/************************************/


/*************************************/

@media screen and (min-width: 480px) and (max-width: 768px) {

  /* Media Queries Header */

  #logo {
    padding: 23px 0 0 18px;
  }
  nav {
    width: 100%;
    margin-top: 24px;
  }
  nav ul {
    padding: 0;
  }
  nav li {
    padding-right: 0;
  }
  nav a {
    padding: 37px 15px 0 15px;
  }
  nav a:hover {
    padding: 37px 15px 0 15px;
  }
  div #inscription {
    padding: 40px 20px 15px 10px;
  }

  /* Media Queries Première Div main */
  
  h1 {
    padding: 32px 0 0 20px;
  }
  #ville {
    padding: 15px 0 0 20px;
  }
  form {
    margin: 34px 0 0 21px;
  }
  input[type="submit"] {
    width: 51px;
    display: none;
  }
  .bouton {
    visibility: visible;
    background: #0065fc;
    color: white;
    width: 51px;
    height: 50px;
    border: none;
    border-radius: 17px 17px 17px 17px;
    font-size: 18px;
    margin-left: -12px;
  }
  #search {
    width: 240px;
  }
  #filtre {
    margin-top: 0;
    height: auto;
  }
  h3 {
    margin: 35px 100px 15px 23px;
    width: 100%;
  }
  #filt {
    width: 100%;
  }
  .i_filtre {
    height: 51px;
  }
  #E {
    margin: 0 133px 13px 23px;
  }
  #F {
    margin: 0 91px 13px 21px;
  }
  #R {
    margin: 0 130px 13px 21px;
  }
  #A {
    margin: 0 197px 0px 21px;
  }
  #information {
    margin: 12px 0 35px 23px;
  }

  /* Media Queries article populaire */

  #populaire {
    border-radius: 0;
    margin: 0;
  }
  .align {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 0;
  }
  .fa-chart-line {
    font-size: 30px;
    text-align: end;
    padding: 42px 36px 0 0;
  }
  .div_populaire {
    grid-template-areas:
        'photo'
        'desc'
        'nuit'
        'star';
    grid-template-columns: 100%;
    grid-template-rows: 223px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .div_populaire img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 16px 16px 0 0;
  }
  .desc {
    font-size: large;
  }
  .stars {
    font-size: 15px;
    padding: 10px 0 11px 21px;
  }
  .Nuit {
    font-size: 17px;
  }

  /* Media Queries Article Hébergement */

  .art_heberg {
    background-color: white;
    border-radius: 0;
    margin-left: 0;
  }
  #hebergement {
    display: flex;
    flex-direction: column-reverse;
  }
  .conteneur_flex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    margin: 0 21px 0 21px;
  }
  .div_hebergement {
    width: auto;
    height: auto;
  }
  .div_hebergement img {
    height: 115px;
    max-height: 300px;
  }
  figcaption {
    font-size: 15px;
  }
  .conteneur_flex p {
    font-size: 14px;
  }

  /* Media Queries Section Activités */
  
  .ban_image {
    height: auto;
    min-height: 315px;
    width: auto;
  }
  .ban_image figcaption {
    font-size: 17px;
    padding: 21px 0 0 21px;
  }
  .port_parc {
    height: auto;
  }
  .port_parc img {
    height: auto;
    max-height: 250px;
  }
  #pomegues {
    height: auto;
  }
  #pomegues img {
    height: auto;
    max-height: 250px;
  }
  #frioul {
    height: auto;
  }
  #frioul img {
    height: auto;
    max-height: 250px;
  }
  #notre_dame_garde {
    height: auto;
  }
  #notre_dame_garde img {
    height: auto;
    max-height: 250px;
  }
  .item6 {
    margin-top: 0;
  }
  #longchamp {
    height: auto;
  }
  #longchamp img {
    height: auto;
    max-height: 250px;
  }
  #activite h2 {
    margin-top: 0;
  }
  #activite {
    display: flex;
    flex-direction: column;
    margin: 0 40px 60px 40px;
  }

  /*FOOTER*/

  footer {
    padding: 0 0 55px 40px;
  }

}

/************************************/


/************************************/
/* Pour screen entre 768px et 900px */
/************************************/


/*************************************/

@media screen and (min-width: 768px) and (max-width: 900px) {

  /*Media Queries Premiere Div Main*/

  #filtre {
    height: auto;
    margin-left: 40px;
  }
  #filtre h3 {
    margin: 13px 0 0 16px;
  }
  #A {
    margin: 23px 197px 0 24px;
  }
  #information {
    margin: 34px 0 37px 52px;
  }

  /*section hébergement*/

  #hebergement {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Media Queries article populaire */
  
  #populaire {
    margin: 0 52px 0 52px;
  }
  .align {
    display: grid;
    grid-template-columns: 85% 15%;
  }
  .fa-chart-line {
    font-size: 30px;
    text-align: end;
    padding: 42px 36px 0 0;
  }
  #soleil {
    width: 100%;
    height: auto;
  }
  .div_populaire {
    grid-template-columns: 249px auto;
    grid-template-rows: 33% 33% 33%;
    width: auto;
    height: 250px;
  }
  .div_populaire img {
    width: 250px;
    height: 250px;
  }
  figcaption {
    font-size: 1.25em;
  }
  .desc {
    margin: 25px 45px 0 38px;
  }
  .Nuit {
    font-size: 20px;
    padding: 12px 50px 0 38px
  }
  .Nuit strong {
    font-size: 24px;
  }
  .stars {
    font-size: 20px;
    padding: 37px 0 0 38px;
  }
  
  /* Media Queries Section hebergement */

  .art_heberg {
    margin: 50px 52px 0 52px;
  }
  .conteneur_flex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    margin: 0 21px 0 21px;
  }
  span h2 {
    padding: 46px 0 10px 40px;
  }
  .div_hebergement {
    width: auto;
    height: auto;
  }
  .div_hebergement img {
    height: 115px;
    max-height: 300px;
  }
  figcaption {
    font-size: 15px;
  }
  .conteneur_flex p {
    font-size: 14px;
  }

  /* Media Queries Section Activités */
  
  #activite {
    margin: 0 52px 60px 52px;
  }
  #activite h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .grid-container {
    grid-template-columns: 8fr 4fr;
  }
  #pomegues {
    height: 201px;
  }
  #pomegues img {
    height: 145px;
  }
  .item2 {
    height: 201px;
  }
  .item3 {
    height: 201px;
  }
  #frioul {
    height: 201px;
  }
  #frioul img {
    height: 145px;
  }
  .item4 {
    grid-column: 1;
    grid-row: 4 / span 2;
    height: 445px;
  }
  .item5 {
    grid-column: 2;
    grid-row: 4 / span 1;
    height: 201px;
  }
  #notre_dame_garde {
    height: 201px;
  }
  #notre_dame_garde img {
    height: 145px;
  }
  #longchamp {
    height: 201px;
  }
  #longchamp img {
    height: 145px;
  }
  .item6 {
    grid-column: 2;
    grid-row: 5 / span 1;
    margin-top: 0;
  }
  .ban_image {
    width: auto;
  }

}


